body {
    margin: 0px;
    font-family: "Verdana", "Geneva", sans-serif;
    background-color: rgb(40, 40, 40);
    color: rgb(180, 180, 180);
}
hr {
    border: 0;
    height: 2px;
    background-color: rgb(70, 70, 70);
}

h1 {
    font-size: 16pt;
    color: rgb(200, 200, 200);
}

h2 {
    font-size: 15pt;
}

h3 {
    font-size: 13pt;
}

h4 {
    font-size: 11pt;
    color: rgb(142, 183, 141);
}

p {
    font-size: 10pt;
    line-height: 15pt;
    text-align: justify;
}

li {
    font-size: 10pt;
    line-height: 15pt;
}

a {
    color: rgb(139, 134, 163);
}

a:hover {
    color: rgb(169, 164, 193);
}

code {
    background: rgb(25, 25, 25);
    color: rgb(200, 120, 120);
    padding: 2px;
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: rgb(30, 30, 30);
}
::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
}

.tab {
    margin-left: 20px;
}

.start_heading {
    background: rgb(30, 30, 30);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main_heading {
    background: rgb(30, 30, 30);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 20px;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
}

.bookend {
    background: rgb(25, 25, 25);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footnote {
    text-align: center;
}