/* ---------------- */
/* ----- base ----- */
/* ---------------- */

*[globalFontStyle="true"] {
    font-size: 9px;
    font-family: "Verdana";
    font-weight: bold;
}

*[marginless="true"] {
    padding: 0px;
    margin: 0px;
}

/* ---------------------- */
/* ----- components ----- */
/* ---------------------- */

QListView {
    min-height: 100px;
    margin: 0px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 6px;
    color: rgb(100, 100, 100);
    background: rgb(30, 30, 30);
    outline: 0;
}

QListView::item {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 20px;
    border-radius: 4px;
}

QListView[nondragging="true"]::item:hover {
    color: rgb(200, 200, 200);
    background: rgb(70, 70, 70);
}


QListView::item:selected:active {
    color: rgb(100, 100, 100);
    border: 0px;
}

QListView::item:selected:!active {
    color: rgb(100, 100, 100);
    border: 0px;
}

QListView::item:selected:hover {
    color: rgb(200, 200, 200);
    border: 0px;
}

QListView::item:disabled {
    background: transparent;
}

QListView::item:disabled:hover {
    background: transparent;
}

QListView[multiListView="true"] {
    margin-bottom: 0px;
    margin-top: 3px;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
}

QScrollBar::add-page, QScrollBar::sub-page {
    background: transparent;
}

QScrollBar:vertical {
    background: transparent;
    width: 12px;
}

QScrollBar::handle:vertical {
    background: rgb(80, 80, 80);
    margin: 2px;
    border-radius: 3px;
}

QScrollBar::add-line:vertical {
    background: none;
}

QScrollBar::sub-line:vertical {
    border: none;
    background: none;
}

/* ------------------- */
/* ----- buttons ----- */
/* ------------------- */

/* title bar button */

QPushButton[titlebarButton="true"] {
    max-width: 15px;
    max-height: 15px;
    min-width: 15px;
    min-height: 15px;
    border: none;
    border-radius: 3px;
    margin: 3px;
    padding: 0px;
}

QPushButton[titlebarButton="true"]:hover {
    background: rgba(0, 0, 0, 80);
}

QPushButton[windowCloseButton="true"] {
    background: rgba(115, 44, 50, 100);
}

QPushButton[windowCloseButton="true"]:hover {
    background: rgba(230, 88, 100, 150);
}

QPushButton[windowCloseButton="true"]:pressed {
    background: rgba(230, 88, 100, 250);
}

QPushButton[helpTitleBarButton="true"] {
    background: rgba(71, 92, 71, 100);
}

QPushButton[helpTitleBarButton="true"]:hover {
    background: rgba(142, 183, 141, 150);
}

QPushButton[helpTitleBarButton="true"]:pressed {
    background: rgba(142, 183, 141, 250);
}

QPushButton[titlebarPinButton="true"] {
    image: url(":/resources/icon_pin_up.png");
}

QPushButton[titlebarPinButton="true"]:hover {
    background: rgba(150, 150, 150, 80);
}

QPushButton[titlebarPinButton="true"]:checked {
    image: url(":/resources/icon_pin_down.png");
}

QPushButton[hidden="true"] {
    background: rgba(0, 0, 0, 0);
}

/* main button */

QPushButton[mainButton="true"] {
    background: rgb(80, 80, 80);
    color: rgb(200, 200, 200);
    border: 0px;
    border-radius: 3px;
    margin: 5px;
    padding: 6px;
    width: 100px;
}

QPushButton[mainButton="true"]:hover {
    background: rgb(100, 100, 100);
}

QPushButton[mainButton="true"]:pressed {
    color: rgb(172, 213, 171);
    background: rgb(40, 40, 40);
}


/* main tab button mixins */

QPushButton[buttonPosition="center"] {
    margin: 5px 1px 5px 1px;  /* top right bottom left */
}

QPushButton[buttonPosition="right"] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 5px 5px 5px 1px;  /* top right bottom left */
}

QPushButton[buttonPosition="left"] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 5px 1px 5px 5px;  /* top right bottom left */
}

QPushButton[buttonPosition="bottom"] {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px 5px;  /* top&bottom right&left */
}

QPushButton[buttonPosition="top"] {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0px 5px;  /* top&bottom right&left */
}

QPushButton[buttonPosition="bottom-right"] {
    border-bottom-right-radius: 5px;
    margin: 1px 5px 5px 1px;  /* top right bottom left */
}

QPushButton[buttonPosition="bottom-left"] {
    border-bottom-left-radius: 5px;
    margin: 1px 1px 5px 5px;  /* top right bottom left */
}

QPushButton[buttonPosition="top-right"] {
    border-top-right-radius: 5px;
    margin: 5px 5px 1px 1px;  /* top right bottom left */
}

QPushButton[buttonPosition="top-left"] {
    border-top-left-radius: 5px;
    margin: 5px 1px 1px 5px;  /* top right bottom left */
}

QPushButton[buttonPosition="top-center"] {
    margin: 5px 1px 1px 1px;  /* top right bottom left */
}

/* utility button */

QPushButton[utilityButton="true"] {
    background: rgb(81, 101, 80);
    color: rgb(200, 200, 200);
    border: 0px;
    padding: 6px;
    max-width: 20px;
}

QPushButton[utilityButton="true"]:hover {
    background: rgb(101, 121, 100);
}

QPushButton[utilityButton="true"]:pressed {
    color: rgb(172, 213, 171);
    background: rgb(122, 163, 121);
}

QPushButton[utilityButton="true"]:checked {
    background: rgb(61, 71, 60);
}

/* main tab button */

QPushButton[mainTabButton="true"] {
    background: rgb(80, 80, 80);
    color: rgb(200, 200, 200);
    border: 0px;
    padding: 6px;
    height: 50px;
}

QPushButton[mainTabButton="true"]:hover {
    background: rgb(100, 100, 100);
}

QPushButton[mainTabButton="true"]:pressed {
    color: rgb(172, 213, 171);
    background: rgb(40, 40, 40);
}

QPushButton[multiButton="true"] {
    height: 18px;
}

QPushButton[multiButtonLoaded="true"] {
    color: rgb(172, 213, 171);
}

/* settings buttons */

QPushButton[multiSwapButton="true"] {
    max-height: 150px;
    max-width: 6px;
    color: rgb(70, 70, 70);
    background: rgb(35, 35, 35);
    border: 0px;
    padding: 2px;
    border-radius: 2px;
}

QPushButton[multiSwapButton="true"]:hover {
    color: rgb(100, 100, 100);
    background: rgb(40, 40, 40);
}

QPushButton[multiSwapButton="true"]:pressed {
    color: rgb(150, 150, 150);
    background: rgb(30, 30, 30);
}

/* ------------------- */
/* ----- widgets ----- */
/* ------------------- */

QCheckBox[settingsCheckBox="true"]::indicator {
    border: 1px solid #282828;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    background: rgb(30, 30, 30);
}

QCheckBox[settingsCheckBox="true"]::indicator:checked {
    background: rgb(122, 163, 121);
}

QCheckBox[settingsCheckBox="true"]::indicator:checked:hover {
    border-color: rgb(142, 183, 141);
}

QCheckBox[settingsCheckBox="true"]::indicator:checked:pressed {
    background: rgb(142, 183, 141);
}

QCheckBox[settingsCheckBox="true"]::indicator:unchecked:hover {
    border-color: rgb(71, 91, 70);
}

QCheckBox[settingsCheckBox="true"]::indicator:unchecked:pressed {
    background: rgb(50, 50, 50);
}


QFrame[settingsFloatField="true"] QLabel {
    min-width: 50px;
}

QFrame[settingsFloatField="true"] QLineEdit {
    border: none;
    border-radius: 3px;
    background: #1e1e1e;  /* rgb(30, 30, 30) */
    width: 50px;
    padding: 2px;
}

QRadioButton[popRadioButton="true"] {
    margin: 6px;
}

QLabel[settingsHeading="true"] {
    padding: 2px;
    color: rgb(100, 100, 100);
}

QFrame[horizontalSeparator="true"] {
    background: rgb(30, 30, 30);
    min-height: 1px;
    margin: 5px 0px;
}

QFrame[verticalSeparator="true"] {
    background: rgb(30, 30, 30);
    max-width: 1px;
    margin: 0px 5px;
}

/* ---------------- */
/* ----- tabs ----- */
/* ---------------- */

QFrame[tabFrame="true"] {
    background-color: rgb(50, 50, 50);
    border-radius: 7px;
    border-top-left-radius: 0px;
    padding: 5px;
}

QTabWidget {
    border: 0px;
}

QTabWidget::tab-bar {
    left: 0px;
}

QTabWidget::pane {
    background: transparent;
}

QTabBar::tab {
    font-weight: bold;
    font-size: 9px;
    font-family: "Verdana";
    background: rgb(30, 30, 30);
    border: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: rgb(50, 50, 50);
}

QTabBar::tab:selected {
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; /* same as pane color */
}

QTabBar::tab:!selected {
    color: rgb(100, 100, 100);
    margin-top: 2px; /* make non-selected tabs look smaller */
}

QTabBar::tab:hover:!selected {
    background: rgb(40, 40, 40);
    color: rgb(142, 183, 141);
}

/* ---------------- */
/* ----- main ----- */
/* ---------------- */

QWidget[windowFrame="true"] {
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 2);
}

QWidget[windowFrame="true"]:hover {
    background: rgba(40, 40, 40, 100);
}

QLabel[windowTitle="true"] {
    padding-right: -30px;
}

QLabel[dialogTitle="true"] {
    padding-right: -30px;
}

QLabel[hidden="false"] {
    color: rgb(150, 150, 150);
}

QLabel[hidden="true"] {
    color: rgba(0, 0, 0, 0);
}

QFrame[settingsFrame="true"] {
    padding: 4px;
    border-radius: 5px;
    background: rgb(40, 40, 40);
}

QFrame[settingsContentsFrame="true"] {
    margin: 4px;
    padding: 5px;
    border-radius: 5px;
    background: rgb(50, 50, 50);
}

QFrame[snapDialog="true"] {
    min-width: 130px;
}

QDialog[simpleDialog="true"] {
    padding: 0px;
    margin: 0px;
    background: rgb(50, 50, 50);
}

QLabel[dialogMessage="true"] {
    padding: 5px;
}

QTextEdit[dialogTextEdit="true"] {
    color: rgb(200, 200, 200);
    background: rgb(40, 40, 40);
    border-radius: 4px;
    border: none;
    padding: 5px;
}
